<div class="ui top attached purple tabular menu">
    <a class="active item" data-tab="Ephemeris">
        Ephemeris
    </a>
    <a class="item marathi" data-tab="KundaliSaadhana">
        कुंडली साधन
    </a>
</div>
<div class="ui bottom attached active tab purple segment" data-tab="Ephemeris">
    <div class="ui form">
        <div class="four fields">
            <div class="field">
                <div class="ui input">
                    <label>From Year</label>
                    <!--<div class="ui pointing below purple label">
                        From Year
                    </div>-->
                    <input type="text" ng-model="fromYear" placeholder="From Year"/>
                </div>
            </div>
            <div class="field">
                <div class="ui input">
                    <label>To Year</label>
                    <!--<div class="ui pointing below purple label">To Year</div>-->
                    <input type="text" ng-model="toYear" placeholder="To Year"/>
                </div>
            </div>
            <div class="field">
                <div class="ui blue button" ng-click="prepare()" ng-class="{loading:processing}">
                    Prepare
                </div>
            </div>
            <div class="field" ng-hide="!processing">
                <div class="ui red button" ng-click="abort()">
                    Cancel
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui bottom attached purple tab segment" data-tab="KundaliSaadhana">
    KundaliSaadhana
</div>
<div class="ui bottom attached purple tab segment" data-tab="third">
    Third
</div>

<script>
    $('.ui.tabular.menu .item').tab({ history: false });
</script>
